@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#formContainer {
  display: flex;
  font-family: "Poppins";
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}

h1 {
  color: #002aff;
}

.labels {
  color: #1a202c;
}

.input {
  margin: 5px;
}

#title {
  width: 30vw;
  height: 5vh;
}

#description {
  width: 30vw;
  height: 20vh;
}

#startDate {
  width: 30vw;
  height: 5vh;
}

#endDate {
  width: 30vw;
  height: 5vh;
}

#button {
  background-color: #002aff;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  width: 10vw;
  height: 6vh;
}

aside {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchDiv {
  display: flex;
  flex-direction: column;
}

#agendamentos {
  padding-top: 5vh;
  color: #002aff;
  font-size: 15px;
}

#agendamentosContainer {
  height: 70vh;
  width: 30vw;
  overflow-y: scroll;
}
